<div class="flex flex-col items-center gap-4 py-8 flex-initial">
  <div class="flex flex-row justify-around flex-initial">
    <div>
      <div class="section-label">Previous game</div>
      <app-game-card variant="previous" [game]="homePageGames()?.lastCompletedGame ?? null" />
    </div>
    <div>
      <div class="section-label">
        {{ homePageGames()?.currentOrNextGame?.status?.abstractGameState === 'Live' ? 'Current game' : 'Next game' }}
      </div>
      <app-game-card variant="current" [game]="homePageGames()?.currentOrNextGame ?? null" />
    </div>
  </div>
</div>
